@using Get_Help.Core.Models.Agent
@model ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="changePasswordForm" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div class="form-floating mb-3">
                <input asp-for="@Model.CurrentPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="current password" />
                <label asp-for="@Model.CurrentPassword">Current Password</label>
                <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="new password" />
                <label asp-for="@Model.NewPassword">New Password</label>
                <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="confirm-password" aria-required="true" placeholder="confirm password" />
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Change Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}